.DS_Store
node_modules/
dist/
npm-debug.log
.idea/
dist-备份/
src/assets/images/icon-activity.png
src/assets/rsh/images/add.png
src/assets/rsh/images/add1.png
src/assets/rsh/images/adv-img-01.jpg
src/assets/rsh/images/avatar.png
src/assets/rsh/images/delete.png
src/assets/rsh/images/erweima.png
src/assets/rsh/images/icon-activity.png
src/assets/rsh/images/icon-chamberType.png
src/assets/rsh/images/icon_location.png
src/assets/rsh/images/memberCenter.png
src/assets/rsh/images/money.png
src/assets/rsh/images/pay-success.png
src/assets/rsh/images/person.png
src/assets/rsh/images/search-result-icon.png
src/assets/rsh/images/sh-level-icon.png
src/assets/rsh/images/upJia.png
src/assets/rsh/images/waitforpay.png
src/assets/rsh/themes/activity.css
src/assets/rsh/themes/activity.css.map
src/assets/rsh/themes/activity.scss
src/assets/rsh/themes/base.css
src/assets/rsh/themes/base.css.map
src/assets/rsh/themes/base.scss
src/assets/rsh/themes/serviceActivity.css
src/assets/rsh/themes/serviceActivity.css.map
src/assets/rsh/themes/serviceActivity.scss
src/assets/rsh/themes/variable.css
src/assets/rsh/themes/variable.css.map
src/assets/rsh/themes/variable.scss
src/assets/shopping/images/aboutUs.jpg
src/assets/shopping/images/mallnav1.png
src/assets/shopping/images/mallnav2.png
src/assets/shopping/images/mallnav3.png
src/assets/shopping/images/mallnav4.png
src/assets/shopping/images/mallnav5.png
src/assets/shopping/images/mallnav6.png
src/assets/shopping/images/mallnav7.png
src/assets/shopping/images/mallnav8.png
src/assets/shopping/images/searchImg.png
src/assets/shopping/images/wxPay.png
src/assets/shopping/temp/750-350banner1.jpg
src/assets/shopping/temp/750-350banner2.jpg
src/assets/shopping/temp/750-350banner3.jpg
src/assets/shopping/temp/mallBanner.png
src/assets/shopping/themes/base.css.map
src/assets/shopping/themes/variables.scss
src/components/rsh/activityList/index.vue
src/components/rsh/search/search.vue
src/effects/base.js
src/effects/openId.js
src/views/rsh/activity/activityRegistrationManage.vue
src/views/rsh/activity/activitySignUpDetail.vue
src/views/rsh/activity/editEvent.vue
src/views/rsh/activity/launchEvent.vue
src/views/rsh/activity/postedEvent.vue
src/views/rsh/activity/registrationActivities.vue
src/views/rsh/activity/signQRCode.vue
src/views/rsh/activity/signResult.vue
src/views/rsh/createJoinChamber/createChamber.vue
src/views/rsh/createJoinChamber/createChamberAudit.vue
src/views/rsh/createJoinChamber/joinChamber.vue
src/views/rsh/createJoinChamber/joinChamberAudit.vue
src/views/rsh/everyChamber/chamberMessComponents.vue
src/views/rsh/everyChamber/index.vue
src/views/rsh/everyChamber/list.vue
src/views/rsh/everyChamber/search.vue
src/views/rsh/home/account.vue
src/views/rsh/home/index.vue
src/views/rsh/home/shop.vue
src/views/rsh/myCreateChamber/getLoginAccount.vue
src/views/rsh/myCreateChamber/index.vue
src/views/rsh/myJoinChamber/index.vue
src/views/rsh/rsh.vue
src/views/rsh/service/search.vue
src/views/rsh/serviceActivity/detail.vue
src/views/rsh/serviceActivity/enrolInfoConfirm.vue
src/views/rsh/serviceActivity/enrolSuccess.vue
src/views/rsh/serviceActivity/index.vue
src/views/rsh/serviceActivity/paySuccess.vue
src/views/rsh/serviceActivity/waitPay.vue
src/views/rsh/serviceActivity/weiXinPay.vue
src/views/shopping/aboutUs/index.vue
src/views/shopping/index/index.vue
src/views/shopping/logisticsInfo/index.vue
src/views/shopping/shopping.vue
